{% extends 'base.html' %}

{% block title %}
    register
{% end %}

{% block body %}

<div class="row justify-content-center">
    <div class="col-12 col-sm-6 col-md-4 text-center">
    <form action="/signup" enctype="multipart/form-data" method="post">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
            </div>
            <input type="text" class="form-control " placeholder="Username" aria-label="Username"
                   aria-describedby="basic-addon1" name="username">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text " id="basic-addon1"><i class="fa fa-key"></i></span>
            </div>
            <input type="password" class="form-control" placeholder="Password" aria-label="Username"
                   aria-describedby="basic-addon1" name="password1">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text " id="basic-addon1"><i class="fa fa-key"></i></span>
            </div>
            <input type="password" class="form-control" placeholder="Username" aria-label="Password"
                   aria-describedby="basic-addon1" name="password2">
        </div>

        <input type="submit" class="btn btn-lg btn-primary">
    </form>
          </div>
        </div>
</div>
{% end %}